{% extends 'base.html' %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <h2>{% block title %} Stock analysis tool {% endblock %}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="div-form" class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <label for="method">Method of analysis</label>
                        <select class="form-control border border-primary" id="method" name="method" required>
                            <option value="sma" selected>SMA</option>
                            <option value="macd">MACD</option>
                            <option value="sma+macd">SMA+MACD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="period">Period of performance</label>
                        <select class="form-control  border border-primary" id="period" name="period" required>
                            <option value="1d">1d</option>
                            <option value="5d">5d</option>
                            <option value="1mo">1mo</option>
                            <option value="3mo">3mo</option>
                            <option value="6mo">6mo</option>
                            <option value="1y">1y</option>
                            <option value="2y">2y</option>
                            <option value="5y">5y</option>
                            <option value="10y">10y</option>
                            <option value="ytd" selected>ytd</option>
                            <option value="max">max</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input class="form-control border border-primary" name="stock" id="stock" value="{{ request.form['stock'] }}" required autofocus>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Submit" class="btn">
                    </div>
                </form>
            </div>
            <div id="div-table" class="col-md-8">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if chart_data %}
                    <script>var chartData = {{ chart_data | safe }}</script>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script src="https://d3js.org/d3.v6.min.js"></script>
                    <script src="{{ url_for('static', filename='script.js') }}"></script>

                    <div id="sma-chart"></div>
                    <div id="macd-chart"></div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col align-self-end">                
                <i>Predictord by Eduardo Messias</i>
            </div>
        </div>
    </div>
{% endblock %}